body{
    margin: 0%;
    padding: 0;
}
#hero {
    width: 100%;
    height: 100vh;
    background: url(images/IMG_7473.JPG) top center;
    background-size: cover;
    text-align: center;
    padding-top: 250px;
}
#hero h1 {
    margin: 0 0 10px 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}
  
  #hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
  
  #hero p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
* {
    box-sizing: border-box;
}
.curriculumvitae p{
    font-weight: 700;
    overflow: hidden; /* Hide the text */
    white-space: nowrap; /* Don't wrap the text */
    animation: typing 6s steps(90, end); /* Set the animation */
  }
@keyframes typing {
    from { width: 0; } /* Start with zero width */
    to { width: 100%; } /* End with full width */
  }
.sidebar{
    background: rgba(28, 28, 38, 0.7);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(225, 225, 225, 0.18);
    box-shadow: 2px 3px 8px #256986;
    position: fixed;
    color: #fff;
    top: 0%;
    left: 0%;
    height: 100%;
    overflow-y: hidden;
}
/*Scroolbar*/
.sidebar ::-webkit-scrollbar{
    width: 5px;
}
.sidebar ::-webkit-scrollbar-track{
    background-color: transparent;
}
.sidebar ::-webkit-scrollbar-thumb{
    background: #2a2f44;
    border-radius: 10px;
}
.sidebar > div {
    height: 100%;
    overflow-y: scroll;
    padding: 1.7em 1em 1.7em 1em;
}
.sidebar a{
    text-decoration: none;
}
.sidebar ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
}
.sidebar small{
    color: #ccc;
}
.brand {
    font-size: 1.5em;
    color: #fff;
    font-weight: 600;
}
.menu-heading{
    padding: 1em;
    margin: 2em 0 0.5em 0;
    display: block;
}
.sidebar ul{
    padding-bottom: 1.5em;
}
.sidebar li a{
    color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1em;
    border-radius: 0.8em;
    transition: 0.3s;
}
.tools li a:hover{
    background: #0275d8;
}
.sidebar ul .material-icons{
    font-size: 1.6em;
    margin-right: 0.5em;
}
.hr{
    border: 1px solid #2a2f44;
    margin: 0 auto;
    width: 90%;
}
.profile img{
    margin-top: 20px;
    width: 5.5em;
    height: 5.5em;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}
.kun{
    margin-top: -35px;
    margin-left: 30px;
}
.curriculumvitae{
    margin-top: -20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 670px;
    border-bottom: solid 3px #2a2f44;
}
.con{
    padding-top: 230px;
    color: white;
}
.con2{
    float: left;
    padding: 10px;
}
.line{
    display: inline-flex;
    
}
.line{
    padding: 15;
}
.line2{
    padding-left:20px ;
}
.round{
    margin-top: 11px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    background-color: #d1e3eb;
}
.round:hover {
    background-color: #256986;
    width: 60px;
    height: 60px;
}
.location .material-icons:hover{
    color: #eef2f5;
    font-size: 40px;
   
}
.location .material-icons{
    color: #0275d8;
    font-size: 20px;
    
}
#myCarousel{
    border: 1px;
    padding: 10px;
    box-shadow: 2px 3px 8px #256986;
    margin: 20px;
}
.card{
    border: 1px;
    padding: 10px;
    box-shadow: 2px 3px 8px #256986;
    margin: 20px;
}
.shado{
    border: 1px;
    padding: 10px;
    box-shadow: 2px 3px 8px #256986;
    margin: 20px;
}
.shado1{
    border: 1px;
    padding: 10px;
    box-shadow: 2px 3px 8px #256986;
    margin: 20px;
}
.form-group{
    padding: 6.5px 0;
}
footer{
    height: auto;
    width: 100%;
    color: white;
    background-color:  rgb(29, 27, 27);
    text-align: center;
    padding-top: 20px;
}
/*side*/
.right{
    margin-top: 0;
    margin-left: 290px;
    text-align: center;
}
.right2 h3{
    color: white;
    margin-left: 15px;
}
.right2 h2{
    color: #149ddd;
    margin-left: 15px;
}
.right2{
    margin-top: 0;
    color: white;
    padding-left: 290px;
}
.back{
    height: 1000px;
    background-color: white;
}
.about_image{
    display: inline-flex;
    padding-right: 12px;
    margin-left: 15px;
}
.text{
    margin-left: 20px;
}
.text{
    display: inline;
}
.about_image .text ul {
    list-style: none;
    padding: 0;
}
  
.about_image .text ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
  
.about_image .text ul strong {
    margin-right: 10px;
}
  
.about_image .text ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #149ddd;
    line-height: 0;
}
.textss{
    margin-left: 20px;
    margin-right: 20px;
}
.responsive-iframe {
  width: 100%;
  height: 500px;
}
.right2 h3{
    font-size: 22px;
}
.foot ul{
    margin-top: 40px;
}
.foot li{
    list-style: none; 
    padding: 10px;
}
.foot li a{
    color: white;
}
.foot ul li{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
@media screen and (max-width: 800px){
    .right2 h2{
        color: #149ddd;
        font-size: 22px;
    }
    .right2 h3{
        font-size: 18px;
    }
    .left{
        width: 58px;
        float: left;
        padding: 25px;
        text-align: center;
    }
    .right{
        margin-top: 0;
        margin-left: 0;
        padding-left: 70px;
    }
    .right2{
        margin-top: 0;
        margin-left: 0;
        padding-left: 60px;
    }
    .con{
        text-align: start;
    }
    .con2{
        float: left;
    }
    .about_image{

        display: block;
        margin-right: 0;
        padding-right: 0;
    }
}
@media screen and (max-width: 800px){
    .sidebar{
        width: 4.5em;
        font-size: 14px;
        text-align: center;
    }
    .sidebar > div{
        padding: 1.7em 0.3em 1.7em 0.3em;
    }
    .profile img{
        width: 2.5em;
        height: 2.5em;
    }
    .sidebar span:not(.material-icons),
    .profile div, .profile span {
        display: none;
    }
    .kun{
        display: none;
    }
    .profile{
        justify-content: center;
    }
    .foot ul li{
        display: flex;
        align-items: start;
        margin-left: -30px;
    }
}
@media screen and (max-width: 1140px){
    .about_image{
        display: block;
        margin-right: 0;
        padding-right: 0;
    }
    .about_image img{
        width: 100%;
    }
}
@media screen and (max-width: 400px){
    .right2{
        padding-right: 0;
    }
}
